@model InvestigacionCRUD.Models.Task
@{
    ViewBag.Title = "Añadir Tarea";
    var users = ViewBag.Users as List<InvestigacionCRUD.Models.User>;
}

<!-- Encabezado -->
<h2>Añadir Tarea</h2>

<!-- Formulario para añadir una tarea -->
<form asp-action="TaskAdd" method="post" enctype="multipart/form-data">
    <!-- Título -->
    <div class="form-group">
        <label asp-for="Title" class="control-label">Título</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <!-- Descripción -->
    <div class="form-group">
        <label asp-for="Description" class="control-label">Descripción</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <!-- Fecha de vencimiento -->
    <div class="form-group">
        <label asp-for="DueDate" class="control-label">Fecha de vencimiento</label>
        <input asp-for="DueDate" type="date" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>
    <!-- Horas requeridas -->
    <div class="form-group">
        <label asp-for="Hours" class="control-label">Horas requeridas</label>
        <input asp-for="Hours" type="number" class="form-control" />
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>
    <!-- Ubicación -->
    <div class="form-group">
        <label asp-for="Location" class="control-label">Ubicacion</label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <!-- Prioridad -->
    <div class="form-group">
        <label asp-for="Priority" class="control-label">Prioridad</label>
        <select asp-for="Priority" class="form-control">
            <option value="LOW">LOW</option>
            <option value="MID">MID</option>
            <option value="HIGH">HIGH</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <!-- Estado de la tarea -->
    <div class="form-group">
        <label asp-for="TaskProgress" class="control-label">Estado</label>
        <select asp-for="TaskProgress" class="form-control">
            <option value="PENDING">PENDING</option>
            <option value="IN_PROGRESS">IN PROGRESS</option>
            <option value="DONE">DONE</option>
        </select>
        <span asp-validation-for="TaskProgress" class="text-danger"></span>
    </div>
    <!-- Imagen -->
    <div class="form-group">
        <label asp-for="PhotoUrl" class="control-label">Imagen</label>
        <input type="file" id="imageFile" class="form-control" onchange="uploadImage()" />
        <input type="hidden" id="photoUrl" name="PhotoUrl" />
        <div id="imagePreview"></div>
        <span asp-validation-for="PhotoUrl" class="text-danger"></span>
    </div>
    <!-- Usuario asignado -->
    <div class="form-group">
        <label asp-for="UserId" class="control-label">Usuario</label>
        <select asp-for="UserId" class="form-control">
            @if (users != null)
            {
                @foreach (var user in users)
                {
                    <option value="@user.Id">@user.Name</option>
                }
            }
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <!-- Botón para enviar el formulario -->
    <div class="form-group">
        <input type="submit" value="Añadir" class="btn btn-primary" />
    </div>
</form>

<!-- Enlace para volver a la lista de tareas -->
<div>
    <a asp-action="TaskIndex">Volver a la lista</a>
</div>

<!-- Scripts -->
@section Scripts {
    <script>
        // Función para subir la imagen al servidor
        function uploadImage() {
            var fileInput = document.getElementById('imageFile');
            var formData = new FormData();
            formData.append('file', fileInput.files[0]);

            fetch('http://localhost:8080/api/images/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(url => {
                document.getElementById('photoUrl').value = url;
                document.getElementById('imagePreview').innerHTML = '<img src="' + url + '" class="img-thumbnail" style="max-width: 200px;" />';
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
