@using InvestigacionCRUD.Controllers; 
@model List<InvestigacionCRUD.Models.User>

@{
    ViewBag.Title = "Lista de Tareas";
}

<!-- Incluir CSS de Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Incluir JS de Bootstrap (jQuery requerido) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>Lista de Tareas</h2>

<!-- Tabla para mostrar las tareas -->
<table class="table">
    <thead>
        <tr>
            <th>Nombre del Usuario</th>
            <th>Título de la Tarea</th>
            <th>Fecha de Vencimiento</th>
            <th>Horas Requeridas</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        <!-- Iterar sobre cada usuario y sus tareas -->
        @foreach (var user in Model)
        {
            @foreach (var task in user.Tasks)
            {
                <tr>
                    <!-- Mostrar el nombre del usuario y la foto de la tarea -->
                    <td>
                        <img src="http://localhost:8080/@task.PhotoUrl" class="rounded-circle" alt="Foto de @user.Name" style="width: 40px; height: 40px; margin-right: 10px;">
                        @user.Name
                    </td>
                    <!-- Mostrar el título, fecha de vencimiento, horas requeridas, prioridad, estado y botón de detalles de la tarea -->
                    <td>@task.Title</td>
                    <td>@task.DueDate?.ToString("dd-MM-yyyy")</td>
                    <td>@task.Hours horas</td>
                    <td>
                        <!-- Aplicar clase de Bootstrap según la prioridad -->
                        <span class="badge @GetPriorityClass(task.Priority)">@task.Priority</span>
                    </td>
                    <td>
                        <!-- Aplicar clase de Bootstrap según el progreso de la tarea -->
                        <span class="badge @GetTaskProgressClass(task.TaskProgress)">@task.TaskProgress</span>
                    </td>
                    <td>
                        <!-- Botón para mostrar el modal de detalles de la tarea -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal_@task.Id">
                            Ver Detalles
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Funciones en C# para asignar clases CSS según la prioridad y el progreso de la tarea -->
@functions {
    public string GetPriorityClass(string priority)
    {
        return priority switch
        {
            "LOW" => "badge-success",
            "MID" => "badge-warning",
            "HIGH" => "badge-danger",
            _ => ""
        };
    }

    public string GetTaskProgressClass(string taskProgress)
    {
        return taskProgress switch
        {
            "PENDING" => "badge-secondary",
            "IN_PROGRESS" => "badge-info",
            "DONE" => "badge-danger",
            _ => ""
        };
    }
}

<!-- Modales para mostrar detalles y modificar el estado de las tareas -->
@foreach (var user in Model)
{
    @foreach (var task in user.Tasks)
    {
        <!-- Modal para mostrar detalles de la tarea -->
        <div class="modal fade" id="taskModal_@task.Id" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel_@task.Id" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="taskModalLabel_@task.Id">Detalles de la Tarea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Mostrar detalles de la tarea -->
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://localhost:8080/@task.PhotoUrl" class="img-fluid" alt="Imagen de la Tarea">
                            </div>
                            <div class="col-md-8">
                                <p><strong>Título:</strong> @task.Title</p>
                                <p><strong>Descripción:</strong> @task.Description</p>
                                <p><strong>Fecha de Vencimiento:</strong> @task.DueDate?.ToString("dd-MM-yyyy")</p>
                                <p><strong>Horas Requeridas:</strong> @task.Hours horas</p>
                                <p><strong>Ubicación:</strong> @task.Location</p>
                                <p><strong>Prioridad:</strong> @task.Priority</p>
                                <p><strong>Estado:</strong> @task.TaskProgress</p>
                                
                                <!-- Opciones de Actualizar y Eliminar -->
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editTaskStatusModal_@task.Id">
                                    Actualizar
                                </button>
                                <button class="btn btn-danger" onclick="deletionTask(@task.Id, '@task.Title')">Eliminar HTTP</button>
                                <button class="btn btn-danger" onclick="deleteTask(@task.Id, '@task.Title')">Eliminar</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @foreach (var task in user.Tasks)
    {
        <!-- Modal para modificar el estado de la tarea -->
        <div class="modal fade" id="editTaskStatusModal_@task.Id" tabindex="-1" role="dialog" aria-labelledby="editTaskStatusModalLabel_@task.Id" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTaskStatusModalLabel_@task.Id">Modificar Estado de la Tarea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para modificar el estado de la tarea -->
                        <form id="editTaskStatusForm_@task.Id">
                            <div class="form-group">
                                <label for="TaskProgress_@task.Id">Estado</label>
                                <select id="TaskProgress_@task.Id" class="form-control">
                                    <option value="PENDING">Pendiente</option>
                                    <option value="IN_PROGRESS">En Progreso</option>
                                    <option value="DONE">Completada</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="IsReady_@task.Id">¿Está Listo?</label>
                                <input type="checkbox" id="IsReady_@task.Id" class="form-check-input">
                            </div>

                            <!-- Botón para guardar los cambios -->
                            <button type="button" class="btn btn-primary" onclick="updateTaskStatus(@task.Id)">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}


<!-- Token de Verificación -->
@Html.AntiForgeryToken()

<script type="text/javascript">
    function deletionTask(taskId, taskTitle) {
        if (confirm("¿Estás seguro de que deseas eliminar la tarea '" + taskTitle + "'?")) {
            $.ajax({
                url: '@Url.Action("DeleteTask", "Task")/' + taskId,
                type: 'DELETE',
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function(result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        alert('Error al eliminar la tarea: ' + result.message);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Error al eliminar la tarea: ' + error);
                }
            });
        }
    }
</script>

<!-- Funciones JavaScript para eliminar una tarea y actualizar el estado de una tarea -->
<script>
    async function deleteTask(taskId, taskTitle) {
        if (confirm(`¿Estás seguro de que quieres eliminar la tarea ${taskTitle}?`)) {
            try {
                const response = await fetch(`http://localhost:8080/task/delete/${taskId}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    // Redirige a la página de listado de tareas o actualiza la vista según sea necesario
                    window.location.href = '/Task/TaskIndex';
                } else {
                    throw new Error('Error al eliminar la tarea');
                }
            } catch (error) {
                console.error(error);
                alert('Hubo un problema al eliminar la tarea.');
            }
        }
    }

    async function updateTaskStatus(taskId) {
        const taskProgress = document.getElementById(`TaskProgress_${taskId}`).value;
        const isReady = document.getElementById(`IsReady_${taskId}`).checked;
        const url = `http://localhost:8080/task/update/${taskId}`;

        const data = {
            taskProgress: taskProgress,
            isReady: isReady
        };

        try {
            const response = await fetch(url, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                // Actualiza la vista o redirige a la lista de tareas
                window.location.href = '/Task/TaskIndex';
            } else {
                throw new Error('Error al actualizar el estado de la tarea');
            }
        } catch (error) {
            console.error(error);
            alert('Hubo un problema al actualizar el estado de la tarea.');
        }
    }
</script>
