@model List<InvestigacionCRUD.Models.User>

@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Lista de Usuarios</h2>

@if (Model != null)
{
    <ul>
        @foreach (var user in Model)
        {
            <li>
                <strong>Nombre:</strong> @user.Name <br>
                <strong>Cédula:</strong> @user.Cedula<br>
                <strong>Edad:</strong> @user.Age<br>
                <strong>Email:</strong> @user.Email <br>
                <strong>Tareas:</strong>
                <ul>
                    @if (user.Tasks != null)
                    {
                        @foreach (var task in user.Tasks)
                        {
                            <li>
                                @task.Description - @(task.IsReady ? "Completado" : "Pendiente")
                            </li>

                        }
                    }
                    else
                    {
                        <li>No hay tareas</li>
                    }
                </ul>
             
            </li>
        }
    </ul>
}
else
{
    <p>@ViewBag.Message</p>
}
